/*start navbar*/
:root{
    --k7le : #000080;
    --graycolor : #858585;
    --wiht : #fff;
}
body{
    padding: 0;
    margin: 0;
}
.navbard svg{
    color: #fff !important;
}
nav {
    /* background-color: var(--graycolor); */
    padding: -10px;
}
.navbar-brand{
    padding: 0 !important; 
}
.fixed-top{
    top: -14px !important;
    padding: 0;
    background: ghostwhite;


}
nav .sqe{
    overflow: hidden;
}

nav a img{
    width: 178px;
    height: 96px;
    
}
nav ul li .active {
    background-color: #000080 !important;
    border-radius: 8px;
    color: #fff !important;
}


@media (max-width:520px){
    nav ul li a{
        padding-left: 10px  !important;
    }
    .navbar-nav{
        margin-right: 11px;
    }
 
 
    nav ul .engflag{
        margin-left: 12px;  
    }
    .about-us .abus::after{
        width: 0 !important;
    }
    nav ul li .rr:hover.rr::after{
        width: 0 !important;
    }
    .silder-home img{
        height: 650px !important;
    }

}
nav ul li{
    transition: all 0.8s;
}
nav ul li .rr{
    transition: all 0.8s;
}

nav ul li a{
    font-size: 20px;
    color: var(--k7le) !important;
    font-weight: bold;
    transition: all 0.4s ease-in-out !important;
    position: relative;
    transition: all 0.8s;
}

nav ul li .rr::after{
    content: "";
    position:absolute;
    width: 0;
    height: 3px;
    background-color: var(--k7le);
    bottom: 2px;
    left: 0;
    transition: all 0.3s;
}
nav ul li .rr:hover.rr::after{
    width: 100%;
}


nav ul .arabflag{
font-size: 20px;
color: var(--k7le) ;
font-weight: bold;
transition: all 0.4s ease-in-out !important;
cursor: pointer;
padding-top: 6px;
margin-left: 5px;
}
nav ul .arabflag img{
    width: 35px;
    height: 25px;
    margin-left: 3px;
}

nav ul .arabflag:hover {
    color: var(--k7le);
}

nav ul .engflag{
    font-size: 18px;
    color:  var(--k7le);
    font-weight: bold;
    transition: all 0.4s ease-in-out !important;
    cursor: pointer;
    padding-top: 12px;
    
}
nav ul .engflag img{
    width: 35px;
    height: 25px;
    margin-left: 4px;
}

nav ul .engflag:hover {
    color: var(--k7le);
}

.arab{
    display: none;
}




@media (max-width:990px){

    .navbar-nav {
        margin-left: auto!important;
        background: ghostwhite;
        padding: 10px;
    }
}

nav ul li:hover a{
    color: var(--k7le) !important;
}
nav ul li .active:hover{
    color: var(--wiht) !important;
}
/*end navbar*/

/*start slider*/
.slide{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide img{
  height: 100vh;
  position: relative;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: var(--k7le);
}
.slide .carousel-caption {
    color: #fff;
}

.slide .carousel-caption{
    width: 500px;
    top:55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff !important;
}

@media (max-width:510px){
    .slide .carousel-caption{
        width: 250px !important;
    }
    .carousel-caption h4{
        position:relative;
    }
    .carousel-caption h4::before {
        content: "";
        position: absolute;
        width: 15%;
        height: 3px;
        left: 10px !important;
        top: 12px !important;
        background-color: var(--k7le);
    }
    .carousel-caption h4::after {
        content: "";
        position: absolute;
        width: 15%;
        height: 3px;
        right: 10px !important;
        top: 12px !important;
        background-color: var(--k7le);
    }
}


.carousel-caption h4::before{
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    left: 89px;
    top: 33px;
    background-color:var(--k7le);
    
    
}

.carousel-caption h4::after{
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    right: 89px;
    top: 33px;
    background-color: var(--k7le);
    
}



/*end slider*/


/*start about-us*/
.about-us{
    padding-top:100px ;
    padding-bottom:100px;
    background-color: #eee;
}.about-us .abus{
    position: relative;width: fit-content;
    color: var(--k7le);
    font-size: 30px;
}
.about-us .abush{
    font-size: 40px;
    font-weight: bold;
    color: #333;
}
.about-us .abush span{
    color: var(--k7le);
}
.about-us .abus::after{
    position: absolute;
    content: "";
    top: 26px;
    width: 50%;
    left: 129px;
    height: 4px;
    background-color: var(--graycolor);
}

.about-us .big-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    transition:all 0.4s;
}
.about-us .big-box .box{
    border: 4px solid var(--graycolor);
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    transition:all 0.8s;
    
}
.about-us .big-box .box:hover {
    border: 4px solid var(--k7le);
}
.about-us .big-box .box:hover svg{
color: var(--graycolor);
}
.about-us .big-box .box svg{
    color: var(--k7le);
    transition:all 0.4s;
}

.about-us .big-box .box h2{
    font-size: 50px;
    color: #000;

}
.about-us .big-box .box p{
    color: #777;

}


.about-us .box-image .box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-bottom: 20px;
    transition:all 0.3s;
    
}
.about-us .box-image .box .image-one{
    width: 200px;
    height: 100px;
    transition:all 0.3s;
}
.about-us .box-image .box .image-one:hover,
.about-us .box-image .box .image-two:hover{
    transform: scale(1.1);
}
.about-us .box-image .box .image-two{
    width: 200px;
    height: 200px;
    transition:all 0.3s;
    
}
/*end about-us*/


/*start our-room*/
.our-room{
    padding-top: 100px;
    padding-bottom: 100px;

}
.our-room .box{
    margin-bottom: 60px;
}
.our-room .box h5{
    color: var(--k7le);
    position: relative;
    width: fit-content;
    margin: 10px auto;
    font-weight: bold;
}
.our-room .box h5::before{
    position: absolute;
    content: "";
    top: 12px;
    left: -49px;
    width: 38%;
    height: 3px;
    background-color: var(--graycolor);
}
.our-room .box h5::after{
    position: absolute;
    content: "";
    top: 12px;
    right: -49px;
    width: 38%;
    height: 3px;
    background-color: var(--graycolor);
}
.our-room .box h1{
    font-weight: bold;
}
.our-room .box h1 span{
    color: var(--k7le);
}
.our-room .filter{
    width: fit-content;
        margin: 20px auto;
        position: relative;
}
.our-room .filter ul{
    border: 1px solid var(--graycolor);
    padding: 0;
    gap: 15px;
    width: 100%;
}

.our-room .filter ul li{
    padding: 0.5rem 1rem;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
  
}
.our-room .filter ul li:hover{
    background-color: var(--k7le);
    color: var(--graycolor);
}
.our-room .filter ul li.active{
    background-color: var(--k7le);
    color: var(--graycolor);
}

.our-room .card{
    margin-bottom: 20px;
    box-shadow: 8px 13px 16px 0px #999;
}
.our-room .card img{
    height: 200px;
}
.our-room .card .card-body{
    position: relative;
}

.our-room .card .card-body .h4{
    background-color: var(--k7le);
    color: var(--graycolor);
    width: fit-content;
    position: absolute;
    top: -25px;
    padding: 5px;
    border-radius: 5px;
    left: 5px;

}
.our-room .card .card-body .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.our-room .card .card-body .box .stars svg{
    color: gold;
}
.our-room .card .card-body .box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.our-room .card .card-body .box2 .iconklam svg{
    color: var(--k7le);
}
.our-room .card .card-body .box2 .iconklam span{
    color: var(--graycolor);
    padding-right: 9px;
}
.our-room .card .card-body .box2 .alamh{
    border-right: 1px solid var(--graycolor);
}
.our-room .card .card-body h6{
    background-color: var(--graycolor);
    padding: 10px;
}
/*end our-room*/


/*start our-services*/
.our-services{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eee;
}
.our-services.box{
    margin-bottom: 60px;
}
.our-services .box h5{
    color: var(--k7le);
    position: relative;
    width: fit-content;
    margin: 10px auto;
    font-weight: bold;
}
.our-services .box h5::before{
    position: absolute;
    content: "";
    top: 12px;
    left: -49px;
    width: 38%;
    height: 3px;
    background-color: var(--graycolor);
}
.our-services .box h5::after{
    position: absolute;
    content: "";
    top: 12px;
    right: -49px;
    width: 38%;
    height: 3px;
    background-color: var(--graycolor);
}
.our-services .box h1{
    font-weight: bold;
}
.our-services .box h1 span{
    color: var(--k7le);
}

.our-services .big-box{
    margin-bottom: 20px;
    margin-top: 60px;

}
.our-services .big-box .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    box-shadow: 8px 13px 16px 0px #777;
    transition: all 0.5s !important;
    height: 315px;
}
.our-services .big-box .box svg{
    color: var(--k7le);
    border: 5px solid var(--graycolor);
    padding: 5px;
}
.our-services .big-box .box h6{
    font-size: 22px;
}

.our-services .big-box .box:hover{
    background-color: var(--k7le);
    color: var(--wiht);
    
}
.our-services .big-box .box:hover .s{
    background-color: #eee !important;
    color: var(--k7le);
    box-shadow: 1px 1px 10px 0px var(--wiht) !important;
}
.our-services .big-box .box:hover svg{
    color: var(--wiht);
    border: 5px solid var(--wiht);
}

.our-services .box .s{
    padding: 0.5rem 2rem;
    border: none;
    background-color: var(--k7le) !important;
    color:#eee;
    box-shadow: 1px 1px 10px 0px var(--k7le);
}
.our-services .box .s:hover{
    color: var(--wiht);
}
.our-services .box .modal-title{
    color: black;
}
.our-services .box .modal-body img{
    width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
    
}
@media (max-width:470px){

    .carousel-control-next, .carousel-control-prev{
        /* display: none; */
    }
}
/*end our-services*/


/*start custumer*/
.custumer{
    padding-top:100px ;
    padding-bottom: 80px;
    background:url("../image/photo-slider1 (1).jpg") center fixed;
    background-size: cover;
}
.custumer h1{
    color: var(--k7le);
    position: relative;
    width: fit-content;
    margin: 20px auto;
}
.custumer h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--graycolor);
    bottom: -4px;
    left: 0;
}
.custumer .big-boxm{
    margin-bottom: 100px;
}
.custumer .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--wiht);
    padding: 10px;
    gap:10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.custumer .box .box-image{
    width: 230px;
    height: 120px;
    padding: 0;

}

@media (max-width:510px){
    .custumer .box .box-image{
        width: 450px;
    }
    .custumer .box{
        height: 210px;
    }
    .fixed-top{
        /* background: gainsboro; */
    }

}
.he{
    height: 80px;
}
.custumer .box img{
    width: 85%;
    height: 100%;
    background-color: var(--k7le);
    border-radius: 50%;
    object-fit: contain;
}
.custumer .box .box2 h5{
color: var(--k7le);
}
.custumer .box .box2 p{
    color: var(--graycolor);
}
.carousel-indicators [data-bs-target] {
    background-color: var(--k7le);
    direction: ltr !important;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
}
.carousel-indicators{
    bottom: -35px;
}

/*end custumer*/

/*start map*/
.map{
    padding-top:100px ;
    padding-bottom:100px ;
}
.map h1{
    color: var(--k7le);
    position: relative;
    width: fit-content;
    margin: 20px auto;
}
.map h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--graycolor);
    bottom: -4px;
    left: 0;
}
/*end map*/


/*start footer*/
.footer{
    background-color:gainsboro;
    padding-top:20px ;
    padding-bottom:10px ;
    display: flex;
}

.footer .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.footer .box1  img{
    width: 200px;
    height: 190px;
}
.footer .box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer .box2 .da5le{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}
.footer .box2 .da5le textarea{
    display: inline-block;
    resize: none;
    height: 150px;
    width: 250px;
    background-color: #eee;
    border-radius: 8px;
    padding: 8px;
}
.footer .box2 textarea:focus{
    outline: none;
}
.footer .box2 .da5le input{
    background-color: var(--k7le);
    color: var(--graycolor);
    border: transparent;
    padding:0.5rem 1rem;
    box-shadow: 1px 1px 10px 0px var(--k7le);


}
.footer .box2 .da5le input:hover{
    background-color: #eee;
    color: var(--k7le);
}
.footer h3{
    font-weight: bold;
    color: var(--k7le);
}
.footer .bigbox svg{
    color: var(--k7le);
    cursor: pointer;
    transition:all 0.8s;
}

.footer .box3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    transition:all 0.8s;
}
.footer .bigbox:hover svg{
    color: #eee !important;
}

.footer .bigbox:hover{
    background-color: var(--k7le) !important;
    color: #eee !important;
  }
  
  .footer .bigbox .box{
    border: 3px solid #fff;
    display: flex;
    justify-items: center;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
  }
  .footer .bigbox .box p{
    margin-top: 10px;
  }
  
  .footer .bigbox .box a{
    text-decoration: none;
    color: #383b3f;
    transition:all 0.8s;
  }
  .footer .bigbox .box:hover a{
    color: #eee !important;
  }




.footer .box3{
    font-size: 20px;
}
.footer .box3 .bigbox{
    background-color: #f7f7f7;
    padding: 8px;
    border-radius: 5px;
    transition: 0.8s;
    cursor: pointer;
    width: 350px;
  }
.footer p{
    /* color: #333; */
}
.footer .ulfooter{
    display: flex;
    flex-direction: row;

}
.footer li{
    opacity: 0.8 !important;
    transition: all 0.4s;
}
.footer li:hover{
    opacity: 1 !important;
}

.footer .fa-facebook {
    color: #2050b1 !important;
  }
  
  .footer .fa-instagram {
    color: #db2360 !important;
  }
  .footer .fa-google {
    color: #dd3f2d !important;
  }
  
/*end footer*/

/*start scroll-top"*/

.scroll-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: var(--k7le);
    color: var(--graycolor);
    justify-content: center;
    padding: 5px 2px;
    cursor: pointer;
    display: none;
    border-radius: 50%;
}

/*end scroll-top"*/